<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>index</title>
</head>
<body>
	<h1>Index Page.</h1>
	<br>
	
	<hr>
	<h2>
    <a href="/Signup">Signup</a> | <a href="/login">Login</a> | <a href="/HomeController">Home</a> | <a href="/contact">Contact</a> | <a href="/Doctor">Doctor</a> | <a href="/Patient">Patient</a> | <a href="/Appointment">Appointment</a> | <a href="/Specialization">Specialization</a> | <a href="/gallery">Gallery</a> | <a href="/AboutUs">AboutUs</a>
    </h2>

	<hr>

</body>
</html>