<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Patient Profile</title>
</head>
<body>

	<h3>name :[[${name}]]</h3>
	<h3>gender :[[${gender}]]</h3>
	<h3>phone :[[${phone}]]</h3>
	<h3>Date of Birth :[[${dob}]]</h3>
	<h3>marial Status :[[${marial_Status}]]</h3>
	<h3>communication address :[[${communication_address}]]</h3>
	<h3>present address :[[${present_address}]]</h3>
	<h3>past medical history :[[${past_medical_history}]]</h3>
	<h3>other details :[[${ other_details}]]</h3>

</body>
</html>