<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Specialization Form</title>
</head>
<body>
	 <h1>Specialization Form</h1>
     <form action="/Specialization" method="post">
        <label for="code">Code:</label>
        <input type="text" id="code" name="code" required><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="note">Additional Notes:</label>
        <textarea id="note" name="note"></textarea><br>

        <input type="submit" value="Create">
        <input type="button" value="Cancel">
        
    </form>
</body>
</html>
</html>